<!DOCTYPE html>
<head>
  <title>Chicken Tinder</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Mobile First -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Project Stylesheet -->
  <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>
<body>
  <div class="container">
    <h1>Chicken Tinder</h1>
    <p>
      Tinder for finding a place to eat.
    </p>
    <p>
      See the nitty gritty source code on
      <a href="https://github.com/simonfong6/chicken-tinder">github</a>.
    </p>
    <form method="POST" action="/rooms/create">
      <label for="room"><strong>Room</strong></label><br/>
      <input type="text" name="room" id="room" placeholder="Room name" class="form-control">
      <button type="submit" class="btn btn-primary mt-2">Create Room</button>
    </form>
  </div>

</body>
