<!DOCTYPE html>
<head>
  <title>Chicken Tinder</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Mobile First -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Project Stylesheet -->
  <link rel="stylesheet" href="/static/css/stylesheet.css">

  <!-- Javascript -->
  <script src="/static/js/rooms.js"></script>
</head>
<body>
  <div class="container">
    <div class="mx-auto" style="width: 18rem;">
      <h1>{{ name.capitalize() }}</h1>
      <p>
        Swipe left for no, Swipe right for yes.
      </p>
    </div>

    {% for restaurant in restaurants %}
      <div class="card restaurants mx-auto" style="width: 18rem; display: none">
        <input class="d-none" type="number" value="{{ restaurant.id }}">
        <img class="card-img-top" src="{{ restaurant.image }}" alt="Card image cap" width="100px">
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <p class="card-text">A restaurant with food that you can eat.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    {% endfor %}

    <p class="mx-auto my-1" style="width: 18rem;">
      <button class="btn btn-danger mx-0 d-inline" style="width: 49%;" onclick="rejectRestaurant()">Left</button>
      <button class="btn btn-success mx-0 d-inline"style="width: 49%;" onclick="acceptRestaurant()">Right</button>
    </p>
  </div>

</body>
